<div class="ta-center">
	<h2 class="welcome">New Book</h2>
	<p class="index links">(Start at <a href="/books/search">/books/search</a>, if you haven't already)</p>

	<%= render 'form' %>
<div class="index links">
	<%= link_to 'Back', books_path %>
</div>
</div>
