html, body {
  height: 100%;
}
.table-container {
  display: table;
  height: 100%;
  width: 100%;
}
.table-block {
  display: table-row;
  height: 1px;

}
.footer-push {
  height: auto;
  //height:95%;
}

#footer {
  /* Placeholder footer styles */
  text-align: center;
  background-color: #00B5B5;
  width: 100%;
  height:50px;
  margin-top: 50px;

  // Center vertically with flexbox
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heart {
  color:#3E4651;
  display:inline;
}
.footertext {
  color: #FFFFFF;
  display: inline;
  width: 60%;
  margin: auto;
}
.footertext a:link {
  color: #FFFFFF;

}
.footertext a:hover {
  color:#3E4651;
}
