.input{
	margin:10px;
}
input{
	width:50%;
}
form{
	margin:10px;
}
label{
	margin-right:10px;
}

/* media query to expand text fields on forms for smaller screens */
@media (max-width: 740px) {
  input {
    width: 100%;
  }
}
