.index{
	h1{
		text-align:center;
	}
	.links{
		li{
			display:inline;
		}
	}
	.links a:link,a:visited {
		color:#3E4651;
	}
	.links a:hover {
		color:#00B5B5;
	}
	.book{
		text-align:center;
		p{
			margin-bottom:0px;
		}
		ul{
			margin-left:0px;
		}
	}
	.new-book{
		text-align:center;
	}
}
